@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1d31;
}

.row{
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
}

.purple-underline {
    padding-bottom: 8px;
    border-bottom: #7342d6 2px solid;
}

/*

NAV

*/

nav {
    float: left;
    width: 100%;
    max-width: 300px;
    height: 100vh;  
    z-index: 1; 
    top: 0; 
    left: 0;
    border-right: #333446 2px solid;
    overflow-x: hidden; 
    padding-top: 30px;
}

.navbar {
    height: 100%; 
}

.navbar__logo--img {
    width: 120px;
}

.navbar__logo {
    display: flex;
    justify-content: space-around;
}

.navbar__links--link {
    color: #6e7d8f;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.navbar__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.navbar__items {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.navbar__icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.navbar__item {
    margin: 32px 12px;
    color: #6e7d8f;
    display: flex;
    flex-direction: column;
    line-height: 24px;
}

.navbar__item--icon {
    font-size: 24px;
}

.navbar__item--href {
    padding: 0;
    text-decoration: none;
    color: #6e7d8f;
}

.active {
    color: #7342d6;
}

/*

TOP TEN 

*/

.topten__list {
    display: flex;
    flex-direction: row;
    margin: 30px 10px;
}

.topten__description {
    margin-top: 8px;
    color: white;
    width: 100%;
    max-width: 200px;
}

.topten__position {
    margin-right: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(115, 66, 214, 0.11);
    border-left: #333446 1px solid;
    color: #7342d6;
    text-align: center;
    display: block;
    
    font-weight: bold;
    font-size: 24px;
}

.topten__title {
    margin-left: 16px;
    margin-top: 24px;
    font-size: 26px;
    color: white;
}

.topten__output {
    z-index: 5;
    background-color: #1c1d31;
}

/*

RIGHTBAR 

*/

.row-rightbar {
    height: 100%;
    max-height: 100vh;
}

.rightbar {
    border-left: #333446 1px solid;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    bottom: 0;
}

/*

INFO 

*/

.rightbar__info {
    color: #6e7d8f;
    font-size: 16px;
    margin-bottom: 24px;
    margin-left: 16px;
}

.rightbar__socials--items {
    margin: 8px 0;
    list-style-type: none;
}

.rightbar__socials--link {
    font-size: 500;
    font-size: 16px;
    color: #6e7d8f;
    text-decoration: none;
}

.rightbar__socials--icon {
    font-size: 20px;
    margin-right: 8px;
}

.rightbar__socials--items:hover .rightbar__socials--link{
    transition: all 300ms ease;
    color: #7342d6;
}

.rightbar__socials--items:hover .rightbar__socials--icon{
    transition: all 300ms ease;
    color: #7342d6;
}

.rightbar__socials--title {
    color: white;
    margin-bottom: 24px;
}

/*

EXPLORE 

*/

.explore{ 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore__title {
    margin: 32px;
    margin-bottom: 0;
    align-self: start;
    color: white;
    font-size: 78px;
    font-family: 'Akshar', sans-serif;
}

.explore__highlighted {
    margin: 32px 16px;
    align-self: start;
}

.highlighted__title {
    color: #6e7d8f;
    margin-right: 16px;
}

.highlight-active {
    color: white;
}

.highlighted__titles {
    display: flex;
}


.highlighted__song {
    z-index: 0;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 220px;
    height: 270px;
    padding: 8px;  
    margin: 24px 16px 0 0;
}

.explore__output {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.highlighted__description--title {
    font-family: 'Akshar', sans-serif;
    font-weight: bold;
    width: 100%;
    max-width: 170px;
    font-size: 30px;
}

.highlighted__description--para {
    font-weight: 500;
    width: 100%;
    max-width: 200px;
    font-size: 14px;
    margin: 8px 0 4px 0;
}

.highlighted__description {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    color: white;
    width: 100%;
}

.highlighted__img {
    border: white 2px solid;
    width: 40%;
    border-radius: 4px;
}

.highlighted__footer {
    display: flex;
    justify-content: space-between;
    height: 50%;
    align-items: end;
}

.highlighted__button--play {
    cursor: pointer;
    font-size: 46px;
    color: white;
    background: transparent;
    border: none;
}

.highlighted__button--play:hover {
    transition: all 200ms ease;
    color: rgba(255, 255, 255, 0.644);
}





@media (max-width:728px){
    nav {
        display: none;
    }
    .rightbar{
        display: none;
    }

    .highlighted__song {
        z-index: 0;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        width: 45%;
        height: 220px;
        padding: 8px;  
        margin: 24px 16px 0 0;
    }
    .highlighted__description--title {
        font-size: 24px;
    }
}