@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topten__list {
    margin: 10px;
    display: flex;
}

.topten__description {
    margin-top: 8px;
}

.topten__position {
    margin-right: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(115, 66, 214, 0.11);
    color: #7342d6;
    text-align: center;
    display: block;
    
    font-weight: bold;
    font-size: 24px;
}

main {
    display: flex;
    justify-content: space-between;
}

/*

AUDIO PLAYER

*/

#audio {
    margin: 24px;
}

.audio__controller {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio__cover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio__cover--img {
    width: 270px;
    border-radius: 4px;
}

.btn__controller {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgba(115, 66, 214, 0.11);
    color: #7342d6;
    text-align: center;
    margin: 0 4px;
}

.btn__controller:hover {
    cursor: pointer;
    transition: all 300ms ease;
    background-color: rgba(101, 38, 228, 0.233);
    color: #7342d6;
}

.btn__controller:active {
    transform: translateY(3px);
}

.audio__title {
    margin-top: 8px;
    font-size: 24px;
    text-align: center;
}

.audio__artist {
    font-size: 16px;
    text-align: center;
}

.audio__volumecontrol {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio__timestamp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio__timestamp--slider {
    margin: 8px 4px;
    width: 200px;
}

.audio__volumecontrol--slider {
    margin: 0 8px;
    width: 100px;
}

.audio__volumecontrol--slider::-webkit-slider-thumb,  .audio__volumecontrol--slider::-moz-range-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #7342d6;
    border: none;
}

.audio__volumecontrol--slider::-webkit-slider-track,  .audio__volumecontrol--slider::-moz-range-track{
    -webkit-appearance: none;
    height: 5px;
    border-radius: 8px;
    background: rgba(115, 66, 214, 0.11);
    border: none;
}

.audio__volmecontrol--icon {
    color: #7342d6
}

.audio__timestamp--slider::-webkit-slider-thumb,  .audio__timestamp--slider::-moz-range-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #7342d6;
    border: none;
}

.audio__timestamp--slider::-webkit-slider-track,  .audio__timestamp--slider::-moz-range-track{
    -webkit-appearance: none;
    height: 5px;
    border-radius: 8px;
    background: rgba(115, 66, 214, 0.11);
    border: none;
}